:root{
  --color-green: #58fa7b;
  --color_rocket: #7159c1;
  --color_backgroud_header: rgba(0, 0, 0, 0.1);
  --color_background_body: #282a36;
  --color_background_footer: rgba(0, 0, 0, 0.1);
  --color_lyrics: white;
}
html {
  height: 100%;
}

body{
  background: var(--color_background_body);
  min-height: 100%;
}

header{
  background-color: var(--color_backgroud_header);
  box-sizing: border-box;
  display: flex;
  text-align: center;
  align-items: center;
  color: var(--color_lyrics);
}

main{
  background-color:var(--color_background_body);
  margin: 5% 10%;
  padding: 0%;
}


footer{
  background-color:  var(--color_background_footer);
  text-align: center;
  align-items: center;
  padding: 1.1%;
  width: 100%;
  margin: auto;
  bottom: 0;
}

#usuario{
  margin: 0 0 0 0;
  padding: 15px;
  border-radius: 5px;
  border: 2px solid black;
  background-color: var(--color_backgroud_header); 
  color: var(--color_lyrics);
}
#botao{
  padding: 1.10%;
  padding: 10px;
  border-radius: 5px;
  color: var(--color_lyrics);
  border: 2px solid black;
  background-color: var(--color_backgroud_header);
}

.cor{
  margin: 0 32% 0 32%;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: flex;  
  font-size: 120px;
  font-family: Arial;
}

.cor .cor_azul_letra {
  color: blue; 
}

.cor .cor_vermelha_letra{
  color: red;
  font-size: 120px;
  font-family: Arial;
}

.cor .cor_amarela_letra{
  color: yellow;
}

.cor .cor_verde_letra{
  color: green;
}

.git{
  background-color: var(--color_backgroud_header);
  padding: 25px;
}

.logo_git{
  width: 40px;
  border-radius: 50px;
}

h1{
  color: var(--color_lyrics);
  text-align: center;
  margin: 0 1% 0 0;
}

.repositorio{
  padding: 2%;
  margin: 0 2% 0 0;
  align-items: center;
  text-align: center;
  color: var(--color_lyrics);
  background-color: var(--color_background_body);
}

.imagem_usuario{
  display: block;
  margin: 40px auto;
  border-radius: 50%;
  width: 25%;
  height: 15%;
}

.ver_perfil a{ 
  align-items: center;
  margin-top: 0;
  font-size: 30px;
  font-family: Arial;
  color: var(--color_lyrics);
  text-decoration: none; 
}

.lista_repositorio ul{
  margin: 30px 100px 0 30px;
  color: var(--color_lyrics);
  text-decoration: none;
  font-size: 20px;
}

.lista_repositorio ul li{
  margin: auto;
  list-style-type: none;
  border: solid;
  border-width: 10px ;
  width: 45%;
}

.lista_repositorio ul li a{
  color: var(--color_lyrics);
  text-decoration: none;
  font-size: 20px;
}


