/*@import url('https://fonts.googleapis.com/css2? família=Roboto:ital,wght@0,100;0.500;1.300;1.400;1.500;1.700&display=swap');
@import url('https://fonts.gstatic.com');
@import url("https//fonts.googleapis.com/icon?family=material+icons");

/*ROOT SEVER PARA DECLARAR VARIAVEIS*/
:root{
  --color-green: #58fa7b;
  --color_rocket: #7159c1;
  --color_backgroud_header: rgba(0, 0, 0, 0.1);
  --color_background_body: #282a36;
  --color_background_footer: rgba(0, 0, 0, 0.1);
  --color_lyrics: white;
}
html {
  height: 100%;
}
/*
*{
  margin: 0;
  padding: 0;
  border: 0;
}*/

body{
  background: var(--color_background_body);
  min-height: 100%;
}

header{
  background-color: var(--color_backgroud_header);
  box-sizing: border-box;
  display: flex;
  text-align: center;
  align-items: center;
  color: var(--color_lyrics);
}

.letra_do_pesquisa{
  margin-left: 32%;
  margin-bottom: 0%;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: flex;  
}

.cor1, .cor4{
  color: blue;
  font-size: 120px;
  font-family: Arial;
}

.cor2, .cor6{
  color: red;
  font-size: 120px;
  font-family: Arial;
}

.cor3{
  color: yellow;
  font-size: 120px;
  font-family: Arial;
}

.cor5{
  color: green;
  font-size: 120px;
  font-family: Arial;
}

.git{
  background-color: var(--color_backgroud_header);
  padding: 25px;
}

.logo_git{
  width: 40px;
  border-radius: 50px;
}

main{
  background-color:var(--color_background_body);
  margin: 5% 10%;
  padding: 0%;
}

h1{
  color: var(--color_lyrics);
  text-align: center;
  margin-left: 1%;
  margin-top: 0%;
  margin-bottom: 0%;
}

.repositorio{
  padding: 2%;
  margin-left: 2%;
  align-items: center;
  text-align: center;
  color: var(--color_lyrics);
  background-color: var(--color_background_body);
}

#usuario{
  margin: 0 0 0 0%;
  padding: 15px;
  border-radius: 5px;
  border: 2px solid black;
  background-color: var(--color_backgroud_header); 
  color: var(--color_lyrics);
}

.imagem_usuario{

  display: block;
  margin: 40px auto;
  border-radius: 50%;
  width: 25%;
  height: 15%;
}

.ver_perfil a{ 
  align-items: center;
  margin-top: 0%;
  font-size: 30px;
  font-family: Arial;
  color: var(--color_lyrics);
  text-decoration: none; 
}

.lista_repositorio ul{
  margin-left: 100%;
  margin: 30px;
  color: var(--color_lyrics);
  text-decoration: none;
  font-size: 20px;
}

.lista_repositorio ul li{
  margin: auto;
  list-style-type: none;
  border: solid;
  border-width: 10px ;
  width: 45%;
}

.lista_repositorio ul li a{
  color: var(--color_lyrics);
  text-decoration: none;
  font-size: 20px;
}

footer{
  background-color:  var(--color_background_footer);
  text-align: center;
  align-items: center;
  padding: 1.1%;
  width: 100%;
  margin: auto;
  bottom: 0;
}
