body {
    padding: 60px;
    height: 100vh;
}

#resultado {
    width: 100%;
    height: calc(100vh - 210px);
}

.container-fluid, .row{
    height: calc(100vh - 150px);
}

.row.reset{
    height: auto;
    margin-bottom: 25px;
}