.buttonProfile {
    align-items: center;
    background: #FF7A00;
    border: none;
    border-radius: .4em;
    color: #FFF;
    display: flex;
    height: 2em;
    justify-content: center;
    margin: 1em;
    transition: ease .3s;
    width: 7em;
}

.buttonProfile:hover {
    cursor: pointer;
    transform: scale(1.05);
    transition: ease .3s;
}

.personalInformation {
    align-items: center;
    background: #333648;
    border-radius: .4em;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: .5em;
}

.personalInformation img {
    border-radius: 50%;
    width: 100%;
}

.personalInformationList li {
    font-size: small;
    font-weight: 300;
    padding-top: .2em;
    width: 16em;
}

.personalInformationList li::after {
    border-bottom: .1em dashed #CCC;
    content: "";
    display: block;
    padding-top: .2em;
}

.userCompany, .userFollow, .userLocation, .userName, .userLogin {
    background-position: left center;
    background-repeat: no-repeat;
    text-align: center;
}

.userCompany {
    background-image: url(../img/building.svg);
}

.userFollow {
    background-image: url(../img/people-fill.svg);
}

.userLocation {
    background-image: url(../img/map.svg);
}

.userName {
    background-image: url(../img/person-bounding-box.svg);
}

@media screen and (max-width: 768px) {
    .personalInformationList li {
        font-size: small;
        margin: auto;
        width: 11em;
    }

    .hidden {
        background-image: none;
    }
}

@media screen and (max-width: 480px) {
    .personalInformationList li {
        font-weight: 100;
        margin: auto;
        width: 8em;
    }

    .hidden {
        background-image: none;
    }
}