.form {
    background-color: transparent;
    border: white solid;
    border-radius: 10px;
    color: white;
    font-style: italic;
    font-size: 12px;
    height: 32px;
    padding-left: 15px;
    width: 260px;
}

.searchContainer, .searchBar {
    align-items: center;
    background-color: #272a30;
    display: flex;
    justify-content: center;
    padding: 8px 0 0 0;
}

.searchContainer img {
    align-items: center;
    margin-right: 15px;
    max-width: 150px;
}