@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&family=Open+Sans:wght@300;400;700&family=Poppins:wght@300&family=Roboto:wght@100;300;400&display=swap');

a {
    color: inherit;
    text-decoration: none;
}

body {
    background: #272a30;
    margin: 0;
}

.userInformation {
    background: #272a30;
    display: grid;
    grid-column-gap: 10px;
    grid-template-columns: 30% 70%;
    padding: 5px;
    max-width: 1024px;
    margin: auto;
}

ol, ul {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    list-style: none;
}