.repositoriesInformation {
    background: #333648;
    border-radius: .4em;
    justify-content: center;
    margin: .1em .5em .5em 0;
    padding: .4em;
}

.repositoriesInformation span {
    padding: .2em .3em;
    margin: .4em 0 0 0;
}

.repositoriesLastUpdate {
    color: #CCC;
    font-size: smaller;
}

.repositoriesTitle {
    color: #fff;
    font-size: large;
    font-weight: 400;
}

.repositoriesTitle:hover {
    color: #ff7a00;
    cursor: pointer;
    transition: ease .7s;
}

.badge {
    color: #fff;
    display: inline-block;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em
}

.badgePrimary {
    background-color: #007bff
}

.badgeSecondary {
    background-color: #6c757d
}

.badgeSuccess {
    background-color: #28a745
}