.btnSearch{
    background: white;
    border:none;
    border-radius:0 7px 7px 0;
    float:right;
    font-weight:bold;
    height: 2.455em;
    width:6em;
}

#searchId {
    background-color: transparent;
    border: white solid;
    border-radius: 7px 0 0 7px;
    color: white;
    font-style: italic;
    font-size: .9em;
    height: 1.8em;
    padding-left: .8em;
    width: 8em;
}

.searchContainer, .searchBar {
    align-items: center;
    background-color: #272a30;
    display: flex;
    justify-content: center;
    padding: .3em 0 0 0;
}

.searchContainer img {
    align-items: center;
    margin-right: .9em;
    max-width: 20%;
}